*,*::before,*::after{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
body{
	--color-primary: #030303;
	--color-secondary: #151515;
	--color-tertiary: #0d0b0b;
	--font-primary: white;
	--padding-primary: 0.5rem;
	--margin-primary: 0.5rem;
	--radius-primary: 0.5rem;
	--link-color:#68b3f8;
}

body{
	width : 30rem;
	padding: var(--padding-primary);
	background: var(--color-primary);
	color: var(--font-primary);
}

.tab-list{}
.tab-list-item-container{
	display: grid;
	grid-template-columns: 2fr 8fr;

	background: var(--color-secondary);
	border-radius: var(--radius-primary);
	margin: var(--margin-primary) auto;
	padding: var(--padding-primary) 0;
}
.tab-list-item-text{
	justify-self:left;
}

.tab-list-item-text a {
	color: var(--link-color);
}
.tab-list-item-img{
	justify-self: center;
	display: grid;
	position:relative;
	background: var(--color-tertiary);
	padding: var(--padding-primary);
	border-radius: var(--radius-primary);
}

.tab-list-item-img{
	justify-content:center;
	align-items:center;
}
